@model Urbana.Models.ContactModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/form/view.css")" />
<script type="text/javascript" src="@Url.Content("~/Content/form/view.js")"></script>
<div>@Html.ValidationSummary()</div>

<div id="main_body">
    <img id="top" src="top.png" alt="">
    <div id="form_container">
        <h1>
            <a>Contact</a></h1>
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "appnitro" }))
        {
        
            <div class="form_description">
                <h2>
                    Contact</h2>
                <p>
                    We appreciate your comments and inquires.</p>
            </div>
            <ul>
                <li id="li_1">
                    @Html.LabelFor(n => Model.FirstName)
                    <div>
                        @Html.TextBoxFor(n => n.FirstName, new { @class = "element text medium" })
                        <div>
                            @Html.ValidationMessageFor(n => n.FirstName)
                        </div>
                    </div>
                </li>
                <li id="li_2">
                    @Html.LabelFor(n => Model.LastName)
                    <div>
                        @Html.TextBoxFor(n => n.LastName, new { @class = "element text medium" })
                        <div>
                            @Html.ValidationMessageFor(n => n.LastName)
                        </div>
                    </div>
                </li>
                <li id="li_3">
                    @Html.LabelFor(n => Model.Company)
                    <div>
                        @Html.TextBoxFor(n => n.Company, new { @class = "element text medium" })
                        <div>
                            @Html.ValidationMessageFor(n => n.Company)
                        </div>
                    </div>
                </li>
                <li id="li_4">
                    @Html.LabelFor(n => Model.Email)
                    <div>
                        @Html.TextBoxFor(n => n.Email, new { @class = "element text medium email" })
                        <div>
                            @Html.ValidationMessageFor(n => n.Email)
                        </div>
                    </div>
                </li>
                <li id="li_5">
                    <label class="description" for="element_5">
                        Phone
                    </label>
                    <span>
                        @Html.TextBoxFor(n => n.PhonePrefix, new { @class = "element text", maxlength = "3" })
                        -
                        <label for="element_5_1">
                            (###)</label>
                    </span><span>
                        @Html.TextBoxFor(n => n.PhoneAreaCode, new { @class = "element text", maxlength = "3" })
                        -
                        <label for="element_5_2">
                            ###</label>
                    </span><span>
                        @Html.TextBoxFor(n => n.PhoneSuffix, new { @class = "element text", maxlength = "4" })
                        <label for="element_5_3">
                            ####</label>
                    </span></li>
                <li id="li_6">
                    @Html.LabelFor(n => n.Comment)
                    <label class="description" for="element_6">
                        Comment/Question
                    </label>
                    <div>
                        @Html.TextAreaFor(n => n.Comment, new { @class = "element textarea medium" })
                        <div>
                            @Html.ValidationMessageFor(n => n.Comment)
                        </div>
                    </div>
                </li>
                <li class="buttons">
                    <input type="hidden" name="form_id" value="225371" />
                    <input id="saveForm" class="button_text searchbutton" type="submit" name="submit"
                        value="Submit" />
                </li>
            </ul>
        }
    </div>
    <img id="bottom" src="bottom.png" alt="">
</div>
